<div style="left:16px;top:680px;"><img src="<%= qr_code_data_url %>" width="112" height="112" /></div>

<div style="left:140;top:710px" class="cls_013"><span class="cls_013">Comprobante Autorizado</span></div>
<div style="left:140;top:725px" class="cls_014"><span class="cls_014">Esta Agencia no se responsabiliza por los datos ingresados en el detalle de la operación</span></div>

<div style="left:275px;top:680px" class="cls_005"><span class="cls_005">Pág. 1/1</span></div>

<div style="left:375px;top:680px" class="cls_005"><span class="cls_005">CAE N°:</span><span class="cls_007"> <%= afip_bill["cae"] %></span></div>
<div style="left:375px;top:695px" class="cls_005"><span class="cls_005">Fecha de Vto. de CAE:</span></div>
<div style="left:486px;top:695px" class="cls_007"><span class="cls_007"><%= Date.parse(afip_bill["cae_due_date"]).strftime("%d/%m/%Y") %></span></div>


</div>

</body>
</html>
